body {
	background: url('../images/lcf-js-20140908-web-4.jpg') center 0px fixed no-repeat;
	background-size: 100%;
	xpadding-top: 60px;
}

*, input, button, select, textarea {
		font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica;
}

figure {
	margin: 30px 0;
}

.terry {
text-transform: uppercase;
color: #333366;
font-weight: 800;
margin-bottom: 0;	
}

/*#screen {
	background: rgba(51, 51, 102, .5);
	position: fixed;
	height: 200%;
	width: 100%;
	z-index: -1;
	top: 0;
	bottom: 0;
	padding-bottom: 100px;
	margin-bottom: -100px;
	display: block;
}*/

.splash .content {
	margin-top: 30px;
	padding: 20px;
	padding-bottom: 74px;
	border: 0;
	background: rgba(255, 255, 255, .4);
	
}

.splash {
	margin: 30px 0 60px;
}

#center-logo {
padding: 10px;
}

.content {
	background: rgba(255, 255, 255, .8);
	border-top: 3px solid #fff;
}

.porthole {
	Xborder-radius: 100%;
	Xborder: 1px solid #fff;
	Xbox-shadow: 1px 1px 2px #666;	
}

.grand {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-style: normal;
	color: #333366;
	margin-top: 0px;
	margin-bottom: 0;
	
}

#signup {
	margin-top: 15px;
}

#signup ul {
	list-style: none;
	margin-left: 0;
	display: inline;
}

#signup #email1 {
	padding: 19px;
	height: 16px;
	box-shadow: none;
	font-size: 20px;
	width: 315px;
	border: 1px solid #333366;
	border-radius: 0;
}


#signup #submit {
	padding: 18px 25px;
	font-size: 20px;
	background: #333366;
	border: none;
	color: #fff;
}

#signup li {
	float: left;
}

h3 {
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 800;
	font-family: Gotham;
	letter-spacing: 1px;
	color: #fff;
}

.content h3 {
	color: #333366;
}

.content ul {
	list-style: none;
	margin-left: 0;
}

.content ul strong {
	display: block;
}

.content ul small {
	text-transform: uppercase;
	line-height: 80%;
}

.landing {
	top: -200px;
}

.navbar-fixed-top {
	transition: top 1s ease;
}

.navbar a.brand {
	text-indent: -1000px;
	background: url('../images/terry-mark-web-small.png') center center no-repeat;
	background-size: 100%;
	display: block;
	height: 50px;
	width: 210px;
	margin-left: 0;
}


.navbar-inner {
	background: rgba(255, 255, 255, .9);
	border: none;
}

/* Custom container */



.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }